body{
    font-family: system-ui, -apple-system, sans-serif;

    background-color: #F4F6F8;

    line-height: 1.6;

    margin: 20px 10px 15px 5px;

    padding: 20px 10px 15px 5px;
}

h1, h2, h3 {
  color: #1e3a8a; 
}

p, .subtitulo {
  color: #2563eb; 
}

#sobre_mi, #formacion, #habilidades, #proyectos, #contacto{
    background-color: #dfcaa7;
    padding: 20px 10px 15px 5px;
    margin: 20px 10px 15px 5px;
    border-radius: 8px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabla-bonita th, .tabla-bonita td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.tabla-bonita th{   background-color: #F7F4EF;
    color: #000000;
}